/* .student-profile-container{

} */
.stPrfole-header{
    justify-content: center;
}
.stPrfole-header h2{
    margin-right: 10px;
}

/* single studnet card */
.stProfile{
    width: 23%;
    padding: 6px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid lightgray;
    position: relative;
}
.stProfile img{
     width: 100%;
     height: 150px;
     margin-bottom: 15px; 
}