.AdminDashBoard{
    height: auto; 
    position: relative;
    align-items:flex-start;
}
.back_Buttn{  
    display: inline-block;
    padding-right: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    left: 5px;
    z-index: 999;
}
.dashboardSideBar {
    width: 25%;
    height: 100vh;
    position: absolute;
    left: -999px;
    top: 0;
    background: linear-gradient(#09b128c9 , #009fffc7);
    padding-left: 15px;
}
.dashboardSideBar2 {
    width: 25%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    overflow-y: auto;
    background: linear-gradient(#09b128c9 , #009fffc7); 
    padding: 50px 15px; 
}
.dashboardSideBar2::-webkit-scrollbar {
    width: 6px;  
  }
  ::-webkit-scrollbar-track {
    background: radial-gradient(red , blue);  
    cursor: pointer;
  }
.sideItems{
    padding-left: 0px;
}
.sideItems li{
    list-style: none;
    margin-top: 15px;
    font-size: 20px;
}
.sideIcon{
    font-size: 35px;
    color: #09b128;
    cursor: pointer;
}
.itemIcon{
    font-size: 18px;
    margin-right: 10px;
}
.sideBtn{
    width: 100%;
    border: 1px solid;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: linear-gradient(to right , blue, green);
    border-color: green red yellow orchid;
}
.sideBtn:focus{
    outline: 0;
}
.sideBtn:hover{
    border-color:yellow green red orchid;
}
.dashboardContent{
    width: 74%;
    padding: 10px 20px;
    height: 100vh;
    overflow-x: auto;
}
.dashboardContent::-webkit-scrollbar {
    width: 6px;  
  }
  .dashboardContent::-webkit-scrollbar-track {
    background: radial-gradient(red , blue);  
    cursor: pointer;
  }